#!/bin/sh
IPT="/sbin/iptables"

# Reset policies and flush old rules
$IPT -P INPUT ACCEPT
$IPT -P FORWARD ACCEPT
$IPT -P OUTPUT ACCEPT
$IPT -t nat --flush
$IPT -t mangle --flush
$IPT --flush
$IPT --delete-chain


# By default, drop everything except outgoing traffic
$IPT -P INPUT DROP
$IPT -P FORWARD DROP
$IPT -P OUTPUT ACCEPT


## General Rules
################

# Allow incoming and outgoing for loopback interfaces
$IPT -A INPUT -i lo -j ACCEPT
$IPT -A OUTPUT -o lo -j ACCEPT

# ICMP rule
$IPT -A INPUT -p icmp -m icmp --icmp-type 8 -j ACCEPT

# Allow established connections:
$IPT -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT


## Consul Client Ports
######################

# Allow Consul LAN Serf on TCP and UDP Ports 8301
$IPT -A INPUT -p udp -m udp --dport 8301 -j ACCEPT
$IPT -A INPUT -p tcp -m tcp --dport 8301 -j ACCEPT


## Coturn Rules
###############

# Allow coturn UDP and TCP listener port 3478
{{'{{'}} if keyExists "service/coturn/{{ project_domain_name }}/listening-port" {{'}}'}}
$IPT -A INPUT -p udp -m udp --dport {{'{{'}} key "service/coturn/{{ project_domain_name }}/listening-port" {{'}}'}} -j ACCEPT
$IPT -A INPUT -p tcp -m tcp --dport {{'{{'}} key "service/coturn/{{ project_domain_name }}/listening-port" {{'}}'}} -j ACCEPT
{{'{{'}} end {{'}}'}}
{{'{{'}} if keyExists "service/coturn/{{ project_domain_name }}/tls-listening-port" {{'}}'}}
$IPT -A INPUT -p udp -m udp --dport {{'{{'}} key "service/coturn/{{ project_domain_name }}/tls-listening-port" {{'}}'}} -j ACCEPT
$IPT -A INPUT -p tcp -m tcp --dport {{'{{'}} key "service/coturn/{{ project_domain_name }}/tls-listening-port" {{'}}'}} -j ACCEPT
{{'{{'}} end {{'}}'}}

# Allow coturn UDP relay port range 50000-51000
{{'{{'}} if keyExists "service/coturn/{{ project_domain_name }}/min-port" {{'}}'}}
{{'{{'}} if keyExists "service/coturn/{{ project_domain_name }}/max-port" {{'}}'}}
$IPT -A INPUT -p udp -m udp --dport {{'{{'}} key "service/coturn/{{ project_domain_name }}/min-port" {{'}}'}}:{{'{{'}} key "service/coturn/{{ project_domain_name }}/max-port" {{'}}'}} -j ACCEPT
{{'{{'}} end {{'}}'}}
{{'{{'}} end {{'}}'}}
