{{'{{'}} if keyExists "service/coturn/listening-port" {{'}}'}}
listening-port={{'{{'}} key "service/coturn/listening-port" {{'}}'}}
{{'{{'}} else {{'}}'}}
listening-port=3478
{{'{{'}} end {{'}}'}}

{{'{{'}} if keyExists "service/coturn/tls-listening-port" {{'}}'}}
tls-listening-port={{'{{'}} key "service/coturn/tls-listening-port" {{'}}'}}
{{'{{'}} else {{'}}'}}
tls-listening-port=5349
{{'{{'}} end {{'}}'}}

{{'{{'}} if keyExists "service/coturn/ip-addr-host" {{'}}'}}
listening-ip={{ lxd_host_network_part }}.{{'{{'}} key "service/coturn/ip-addr-host" {{'}}'}}
{{'{{'}} end {{'}}'}}

{{'{{'}} if keyExists "service/coturn/ip-addr-host" {{'}}'}}
relay-ip={{ lxd_host_network_part }}.{{'{{'}} key "service/coturn/ip-addr-host" {{'}}'}}
{{'{{'}} end {{'}}'}}

external-ip={{ host_public_ip }}

{{'{{'}} if keyExists "service/coturn/min-port" {{'}}'}}
min-port={{'{{'}} key "service/coturn/min-port" {{'}}'}}
{{'{{'}} else {{'}}'}}
min-port=50000
{{'{{'}} end {{'}}'}}

{{'{{'}} if keyExists "service/coturn/max-port" {{'}}'}}
max-port={{'{{'}} key "service/coturn/max-port" {{'}}'}}
{{'{{'}} else {{'}}'}}
max-port=51000
{{'{{'}} end {{'}}'}}

lt-cred-mech
use-auth-secret
static-auth-secret={{ coturn_static_auth_secret }}

{{'{{'}} if keyExists "service/coturn/turn-domain" {{'}}'}}
realm={{'{{'}} key "service/coturn/turn-domain" {{'}}'}}
{{'{{'}} end {{'}}'}}

no-tcp-relay

{{'{{'}} if keyExists "service/coturn/turn-domain" {{'}}'}}
cert=/etc/turn/tls/{{'{{'}} key "service/coturn/turn-domain" {{'}}'}}.cert.pem
{{'{{'}} else {{'}}'}}
cert=/etc/turn/tls/ryo.cert.pem
{{'{{'}} end {{'}}'}}

{{'{{'}} if keyExists "service/coturn/turn-domain" {{'}}'}}
pkey=/etc/turn/tls/{{'{{'}} key "service/coturn/turn-domain" {{'}}'}}.key.pem
{{'{{'}} else {{'}}'}}
pkey=/etc/turn/tls/ryo.key.pem
{{'{{'}} end {{'}}'}}

no-loopback-peers
no-multicast-peers
denied-peer-ip=10.0.0.0-10.255.255.255
denied-peer-ip=192.168.0.0-192.168.255.255
denied-peer-ip=172.16.0.0-172.31.255.255

{{'{{'}} if keyExists "service/coturn/ip-addr-host" {{'}}'}}
allowed-peer-ip={{ lxd_host_network_part }}.{{'{{'}} key "service/coturn/ip-addr-host" {{'}}'}}
{{'{{'}} end {{'}}'}}

user-quota=0
total-quota=0
no-loopback-peers
no-multicast-peers
userdb=/var/turn/turndb
syslog
proc-user=turnserver
proc-group=turnserver
log-file=/dev/null