{{'{{'}} if keyExists "service/coturn/{{ project_domain_name }}/listening-port" {{'}}'}}
listening-port={{'{{'}} key "service/coturn/{{ project_domain_name }}/listening-port" {{'}}'}}
{{'{{'}} else {{'}}'}}
listening-port=3478
{{'{{'}} end {{'}}'}}

{{'{{'}} if keyExists "service/coturn/{{ project_domain_name }}/tls-listening-port" {{'}}'}}
tls-listening-port={{'{{'}} key "service/coturn/{{ project_domain_name }}/tls-listening-port" {{'}}'}}
{{'{{'}} else {{'}}'}}
tls-listening-port=5349
{{'{{'}} end {{'}}'}}

{{'{{'}} if keyExists "service/coturn/{{ project_domain_name }}/ip_addr_host" {{'}}'}}
listening-ip={{ lxd_host_network_part }}.{{'{{'}} key "service/coturn/{{ project_domain_name }}/ip_addr_host" {{'}}'}}
{{'{{'}} end {{'}}'}}

{{'{{'}} if keyExists "service/coturn/{{ project_domain_name }}/ip_addr_host" {{'}}'}}
relay-ip={{ lxd_host_network_part }}.{{'{{'}} key "service/coturn/{{ project_domain_name }}/ip_addr_host" {{'}}'}}
{{'{{'}} end {{'}}'}}

external-ip={{ host_public_ip }}

{{'{{'}} if keyExists "service/coturn/{{ project_domain_name }}/min-port" {{'}}'}}
min-port={{'{{'}} key "service/coturn/{{ project_domain_name }}/min-port" {{'}}'}}
{{'{{'}} else {{'}}'}}
min-port=50000
{{'{{'}} end {{'}}'}}

{{'{{'}} if keyExists "service/coturn/{{ project_domain_name }}/max-port" {{'}}'}}
max-port={{'{{'}} key "service/coturn/{{ project_domain_name }}/max-port" {{'}}'}}
{{'{{'}} else {{'}}'}}
max-port=51000
{{'{{'}} end {{'}}'}}

lt-cred-mech
use-auth-secret
static-auth-secret={{ coturn_static_auth_secret }}
realm=turn.{{ project_domain_name }} 
no-tcp-relay
cert=/etc/turn/tls/{{ project_domain_name }}.cert.pem
pkey=/etc/turn/tls/{{ project_domain_name }}.key.pem
no-loopback-peers
no-multicast-peers
denied-peer-ip=10.0.0.0-10.255.255.255
denied-peer-ip=192.168.0.0-192.168.255.255
denied-peer-ip=172.16.0.0-172.31.255.255

{{'{{'}} if keyExists "service/coturn/{{ project_domain_name }}/ip_addr_host" {{'}}'}}
allowed-peer-ip={{ lxd_host_network_part }}.{{'{{'}} key "service/coturn/{{ project_domain_name }}/ip_addr_host" {{'}}'}}
{{'{{'}} end {{'}}'}}

user-quota=0
total-quota=0
no-loopback-peers
no-multicast-peers
userdb=/var/turn/turndb
syslog
proc-user=turnserver
proc-group=turnserver
log-file=/dev/null